---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/home/Hero.astro";
import About from "../components/home/About.astro";
import Stack from "../components/home/Stack.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";
import ContactCTA from "../components/home/ContactCTA.astro";
---

<BaseLayout title="Alexis Flores | Data & Software Portfolio">
  <main>
    <Hero />
    <About />
    <Stack />
    <FeaturedProjects />
    <ContactCTA />
  </main>
</BaseLayout>